<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Özgeçmiş - Kişisel Bilgi</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Beceriler</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="40%">
                <div class="skillbar-title"><span>Photoshop</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">40%</div>
            </div>
            <!-- /.skillbar -->		
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Netcad</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->         
	    
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Postgresql</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->	    

	    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>html5</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar -->	  
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Autocad</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->	    	    

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Lastools/Qgis/Erdas/Arcmap/Inpho</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->	    		
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Geoserver</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->	    		
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Office Becerileri</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
              
	</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobi</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Müzik</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Spor</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Okuma</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Dil becerileri</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>English</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">My Resume</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .download_resume -->
        <a class="download" style="margin:0;float: left;" href="#">
            <span data-hover="Download My Resume"><i class="glyphicon glyphicon-download-alt"></i> Download My Resume</span>
        </a>
        <!-- /.download_resume -->

    </div>
     <!-- /.resume-right -->
     
      
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Deneyimler</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Stajyer <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> Harita Genel MÜdürlüğü</h6>
                <p>2 ay süren stajımı Harita Genel Müdürlüğü'nün kartografya, askeri corafya, fotogrametri ve jeodezi birimlerinde tamamladım.</p>
            </li>	
            <li>
                <h5>Stajyer <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Belsis Yazılım</h6>
                <p>1 ay süren stajımı şirketin yazılım ve proje yönetimi birimlerinde tamamladım.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Eğitim</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Üniversite <span class="duration"><i class="fa fa-calendar color"></i> 2015 - ...(devam ediyor)</span></h5>
                <h6><span class="fa fa-book"></span> Hacettepe Üniversitesi</h6>
                <p>Hacettepe Üniversitesi, Mühendislik Fakültesinde Geomatik Mühendisliği üzerine eğitim almaktayım.</p>
            </li>	
            <li>
                <h5>Lise <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2015</span></h5>
                <h6><span class="fa fa-book"></span>Faruk Nafiz Çamlibel Anadolu Lisesi</h6>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Yayın</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Konferans Yayını <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <h6><span class="fa fa-trophy"></span> XXIX International Symposium</h6>
                <p>İstanbul'da düzenlenen XXIX Uluslararası Jeodezi ve İlgili Alanlarda Modern Teknolojiler, Eğitim ve Mesleki Uygulama Sempozyumu'nda Farklı Meteorolojik Veri Kaynakları ile PPP Konumlandırma Hassasiyetinin Değerlendirilmesi(Assessment of PPP positioning accuracy with different meteoroligical data sources) adlı çalışmamız.</p>
            </li>
  
        </ul>
        <!-- /.attributes -->
        <br>  
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Konferanslar & Kurslar & Sertifikalar</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
            <li class="clearfix">
                <p>Youth Pass belgemi 2016 yılında Romanya'da "Volunteerism is a big change for career" projesinde aldım.</p>
                <span>Avrupa Gönüllülük Servisi(EVS)</span>
            </li>	
            <li class="clearfix">
                <p>2016 yıılında Veri Tabanı Programlama [Access] Kursu'na katılarak belgemi aldım. </p>
                <span>Gazi Üniversitesi Mesleki ve Teknik Eğitim Kursu(BELTEK)</span>
            </li>
            <li class="clearfix">
                <p>2017 yılında Ankara'da 16. Türkiye Harita Bilimsel ve Teknik Kurultayı'na katıldım.</p>
                <span>Maria Callas, UX Designer</span>
            </li>
            <li class="clearfix">
                <p>2017 yılında ilgilendiğim spor olan yamaç paraşütü için pilot belgemi aldım./THK</p>
                <span>THSF</span>
            </li>
            <li class="clearfix">
                <p>2017 yılında Ankara'da düzenlenen ISPRS Hackathon'unda görev aldım.</p>
                <span>ISPRS</span>
            <li class="clearfix">
                <p>2018 yılında 3 ay süren Topoğrafya Alet Operatörlüğü Kursu'na katılarak belgemi aldım.</p>
                <span>Gazi Üniversitesi Mesleki ve Teknik Eğitim Kursu(BELTEK)</span>		    
            </li>	
            <li class="clearfix">
                <p>2019 yılında Ankara'da 17. Türkiye Harita Bilimsel ve Teknik Kurultayı'na katıldım.</p>
                <span>Gaik Eğitim Kursu(BELTEK)</span>		    
            </li>
            <li class="clearfix">
                <p>2019 yılında Coğrafi Bilgi Sistemleri Kongresi'ne katıldım.</p>
                <span>Ankara</span>		    
            </li>
            <li class="clearfix">
                <p>2019 yılında İstanbul'da düzenlenen XXIX Uluslararası Jeodezi ve İlgili Alanlarda Modern Teknolojiler, Eğitim ve Mesleki Uygulama Sempozyumu'nda Farklı Meteorolojik Veri Kaynakları ile PPP Konumlandırma Hassasiyetinin Değerlendirilmesi(Assessment of PPP positioning accuracy with different meteoroligical data sources) adlı çalışmamızın sunumu yapıldı.</p>
                <span>ITU</span>		    
            </li>
        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
