<!-- .resume -->
<div id="resume" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Özgeçmiş</h1> 

<div class="row">

   <!-- .resume-right -->
    <div class="col-md-6">

        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Beceriler</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Matlab</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Python</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="95%">
                <div class="skillbar-title"><span>Lastools</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Qgis</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->	
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="90%">
                <div class="skillbar-title"><span>Erdas</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>Arcmap</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Netcad</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Postgresql</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Autocad</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="75%">
                <div class="skillbar-title"><span>Geoserver</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <!-- /.skillbar -->
		
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>html5</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar --> 
		
	    <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="30%">
                <div class="skillbar-title"><span>Android Studio</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">30%</div>
            </div>
            <!-- /.skillbar --> 
        </div>
        
         
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">MS Office Becerileri</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
            
        <div class="skills">       
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="85%">
                <div class="skillbar-title"><span>MS Excel</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>MS Word</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="95%">
                <div class="skillbar-title"><span>Powerpoint</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">95%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="60%">
                <div class="skillbar-title"><span>Access</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">60%</div>
            </div>
            <!-- /.skillbar -->   
	</div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Hobi</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>Muzik</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">75%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="80%">
                <div class="skillbar-title"><span>Spor</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">90%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="85%">
                <div class="skillbar-title"><span>Okuma</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">85%</div>
            </div>
            <!-- /.skillbar -->
            
            <!-- .skillbar -->
            <div class="skillbar clearfix " data-percent="70%">
                <div class="skillbar-title"><span>Travelling</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">70%</div>
            </div>
            <!-- /.skillbar -->
        </div>
        
        
        <!-- .title_content -->
        <div class="title_content" style="float: none;">
            <div class="text_content">Dil Becerisi</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <div class="skills">
            <!-- .skillbar -->
            <div class="skillbar clearfix" data-percent="80%">
                <div class="skillbar-title"><span>İngilizce</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">80%</div>
            </div>
            <!-- /.skillbar -->

        </div>
        
    </div>
     <!-- /.resume-right -->
     
     
     
     <!-- .resume-left -->
    <div class="col-md-6 resume-left">    
        <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Deneyimler</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Stajyer <span class="duration"><i class="fa fa-calendar color"></i> 2018</span></h5>
                <h6><span class="fa fa-briefcase"></span> Harita Genel Müdürlüğü</h6>
                <p>2 ay süren stajımı Harita Genel Müdürlüğü'nün kartografya, askeri corafya, fotogrametri ve jeodezi birimlerinde tamamladım.</p>
            </li>
            <li>
                <h5>Stajyer <span class="duration"><i class="fa fa-calendar color"></i> 2019</span></h5>
                <h6><span class="fa fa-briefcase"></span> Belsis Yazılım</h6>
                <p>1 ay süren stajımı şirketin yazılım ve proje yönetimi birimlerinde tamamladım.</p>
            </li>

        </ul>
        <!-- /.attributes -->
        <br>
        
        <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Eğitim</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Üniversite <span class="duration"><i class="fa fa-calendar color"></i> 2015 - devam ediyor</span></h5>
                <h6><span class="fa fa-book"></span> Hacettepe Üniversitesi</h6>
                <p>Hacettepe Üniversitesi, Mühendislik Fakültesinde Geomatik Mühendisliği bölümünden bölüm birinciliği ile mezun oldum. Diploma notum 3.33/4.</p>
            </li>
            <li>
                <h5>Lise <span class="duration"><i class="fa fa-calendar color"></i> 2011 - 2015</span></h5>
                <h6><span class="fa fa-book"></span> Faruk Nafiz Çamlibel Anadolu Lisesi</h6>
                <p>  </p>
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
        
          <!-- .title_content -->
        <div class="title_content">
            <div class="text_content">Yayın & Ödül & Başarı</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        
        <!-- .attributes -->
        <ul class="attributes">
            <li class="first">
                <h5>Konferans Yayını <span class="duration"><i class="fa fa-calendar color"></i> 2019 </span></h5>
                <h6><span class="fa fa-trophy"></span> XXIX International Symposium</h6>
                <p>İstanbul'da düzenlenen XXIX Uluslararası Jeodezi ve İlgili Alanlarda Modern Teknolojiler, Eğitim ve Mesleki Uygulama Sempozyumu'nda Farklı Meteorolojik Veri Kaynakları ile PPP Konumlandırma Hassasiyetinin Değerlendirilmesi(Assessment of PPP positioning accuracy with different meteoroligical data sources) adlı çalışmamız.</p>
            </li>
  	    <li class="first">
                <h5>Proje Birinciliği <span class="duration"><i class="fa fa-calendar color"></i> 2019 </span></h5>
                <h6><span class="fa fa-trophy"></span>Hacettepe Mühendisliği, Geomatik Mühendisliği</h6>
                <p>Doçent Dr. Metin Nohutcu danışmanlığında "GNSS Sinyalleri ile Türkiye İçin Troposfer Ürünlerinin ve Yoğuşabilir Su Buharı miktarı Haritalarının Oluşturulması” adlı projemizi tamamladık. </p>
		<p>Projemiz 6 değerli sektör temsilcisi ve değerli öğretim elemanlarının değerlendirmesi ile dereceye girerek birincilik kazandı.</p>
		<p>Birincilik kazanan projemizde, alternatif troposfer modelleme yaklaşımları ile GNSS konum doğruluğunun artırılması, ayrıca en uygun çözümleri sağlayan yaklaşım kullanılarak Türkiye için troposfere bağlı kuru, ıslak ve toplam gecikme ürünleri üretilmiş ve yoğuşabilir(yağışa dönüşebilir) su buharı haritaları için arayüz oluşturulmuştur.</p>    
            </li>
        </ul>
        <!-- /.attributes -->
        <br>  
        
    </div>
    <!-- /.resume-left -->
</div>

<div style="clear: both"></div>  
  
  
<!-- client reference -->
<div class="row">
<div class="col-md-12">   
    
<div class="reference clearfix"> 
            
         <!-- .title_content -->
        <div class="title_content" style="margin-bottom:5px">
            <div class="text_content">Projeler & Konferanslar & Kurslar & Sertifikalar</div>
            <div class="clear"></div>
        </div>
        <!-- /.title_content -->
        

        <ul>
	    <li class="clearfix">
                <p>Veri görsellleştirme eğitimine katıldım. Eğitim içeriği: Veri Görselleștirmenin önemi, Görsel algı, grafikler: kullanım alanları, dikkat edilmesi gereken noktalar ve hazırlama ipuçları, doğru grafiği seçme, tablolarda ve haritalarda görselleştirme.</p>
                <span>Eğitmen:Deniz Atalay,2020</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>	
		
	    <li class="clearfix">
                <p>GNSS Sinyalleri ile Türkiye İçin Troposfer Ürünlerinin ve Yoğuşabilir Su Buharı miktarı Haritalarının Oluşturulması</p>
                <p>Doçent Dr. Metin Nohutcu danışmanlığında "GNSS Sinyalleri ile Türkiye İçin Troposfer Ürünlerinin ve Yoğuşabilir Su Buharı miktarı Haritalarının Oluşturulması” adlı projemizi tamamladık.</p>
		<span>Hacettepe Üniversitesi,Geomatik Mühendiliği,2020</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>
		
            <li class="clearfix">
                <p>2019 yılında İstanbul'da düzenlenen XXIX Uluslararası Jeodezi ve İlgili Alanlarda Modern Teknolojiler, Eğitim ve Mesleki Uygulama Sempozyumu'nda Farklı Meteorolojik Veri Kaynakları ile PPP Konumlandırma Hassasiyetinin Değerlendirilmesi(Assessment of PPP positioning accuracy with different meteoroligical data sources) adlı çalışmamızın sunumu yapıldı.</p>
                <span>ITU,2019</span>	
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>
            <li class="clearfix">
                <p> "Improving the performance of precise point positioning(PPP) with multi-GNSS and developing first online PPP service in Turkey" </p>
                <p>Hacettepe Üniversitesi, Geomatik Mühendisliği Bölümü bünyesinde yürütülen “Çoklu-GNSS PPP Performansının İyileştirilmesi ve Türkiye Kaynaklı İlk Çevrimiçi PPP Servisinin Geliştirilmesi” başlıklı TÜBİTAK 1001 projesinde lisans bursiyerliği</p>
		<span>TÜBİTAK Projesi,2019-2020</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>
            <li class="clearfix">
                <p> " Developing a software application to enhance GNSS PPP positioning accuracy incorporating alternative troposphere modeling approaches" </p>
                <p>Alternatif troposfer modelleme yaklaşımlarını içeren GNSS PPP konumlandırma doğruluğunu artırmak için bir yazılım uygulaması geliştirmek adli proje</p>
		<span>Hacettepe Üniversitesi,2019-2020</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>
            <li class="clearfix">
                <p>2019 yılında Coğrafi Bilgi Sistemleri Kongresi'ne katıldım.</p>
                <span>Ankara,2019</span>	
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>
            <li class="clearfix">
                <p>2019 yılında Ankara'da 17. Türkiye Harita Bilimsel ve Teknik Kurultayı'na katıldım.</p>
                <span>Ankara,2019</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>
            <li class="clearfix">
                <p>2018 yılında 3 ay süren Topoğrafya Alet Operatörlüğü Kursu'na katılarak belgemi aldım.</p>
                <span>Gazi Üniversitesi Mesleki ve Teknik Eğitim Kursu(BELTEK),2018</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>		
            <li class="clearfix">
                <p>2017 yılında Ankara'da düzenlenen ISPRS Hackathon'unda görev aldım.</p>
                <span>ISPRS,2017</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
	    </li>    
            <li class="clearfix">
                <p>2017 yılında Ankara'da 16. Türkiye Harita Bilimsel ve Teknik Kurultayı'na katıldım.</p>
                <span>Ankara,2017</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>		
            <li class="clearfix">
                <p>2016 yıılında Veri Tabanı Programlama [Access] Kursu'na katılarak belgemi aldım. </p>
                <span>Gazi Üniversitesi Mesleki ve Teknik Eğitim Kursu(BELTEK),2016</span>
		<p> ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++</p>
            </li>		
            <li class="clearfix">
                <p>Erasmus+ projesinde görev aldım. Youth Pass belgemi 2016 yılında Romanya'da "Volunteerism is a big change for career" projesinde aldım.</p>
                <span>Avrupa Gönüllülük Servisi(EVS),2016</span>
            </li>	

        </ul>
</div>
</div>

     
<div style="clear: both"></div>   
</div>

</div>
<!-- End .resume -->
