<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Hakkımda</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">buğçe gökçe</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>İsim</label>
                <span class="value">Buğçe Gökçe</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Doğum Tarihi</label>
                <span class="value">Nisan 1997</span>
                <div class="clear"></div>
            </li>
			   
            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adres</label>
                <span class="value">Ankara , TR</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-user"></i>
                <label>Eğitim</label>
                <span class="value">Hacettepe Üniversitesi, Geomatik Mühendisliği</span>
                <div class="clear"></div>
            </li>
			   
            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">gokcebugce@gmail.com</span>
                <div class="clear"></div>
            </li>

        </ul>
 
    </div>
    <!-- End left-wrap -->
	
    <p>      
     	Merhaba, ben Buğçe
    </p>

    <p>   
	    <a href="http://geomatik.hacettepe.edu.tr/" target="_blank"> Hacettepe Üniversitesi, Geomatik Mühendisliği Bölümü</a>nde eğitim almaktayım.                  
    </p>
	
    <div class="col-md-6 profile-r">

        <div class="cycle-slideshow">
            <img src="images/img-profile/geomatics-2.jpg" alt="" />
	    <img src="images/img-profile/indir.jpg" alt="" />
	    <img src="images/img-profile/geomatics-1.jpg" alt="" />
	    <img src="images/img-profile/download.jpg" alt="" />
	    <img src="images/img-profile/dunya.jpg" alt="" />
        </div>

    </div>

</div>


<div class="clear"></div>
</div>
<!-- End .profile -->
