<!-- profile -->
<div id="profile" class="content_2">
    <!-- .title -->
<h1 class="h-bloc">Hakkımda</h1>

<div class="row top-p">
    <div class="col-md-6 profile-l">
 		
        <!--About me-->
        <div class="title_content">
            <div class="text_content">buğçe gökçe</div>
            <div class="clear"></div>
        </div>

		   <ul class="about">

            <li>
                <i class="glyphicon glyphicon-user"></i>
                <label>İsim</label>
                <span class="value">Buğçe Gökçe</span>
                <div class="clear"></div>
            </li>

            <li>
                <i class="glyphicon glyphicon-calendar"></i>
                <label>Doğum Tarihi</label>
                <span class="value">Nisan 1997</span>
                <div class="clear"></div>
            </li>
			   
            <li> 
                <i class="glyphicon glyphicon-map-marker"></i>
                <label>Adres</label>
                <span class="value">Ankara , TR</span>
                <div class="clear"></div>
            </li>

            <li> 
                <i class="glyphicon glyphicon-user"></i>
                <label>Eğitim</label>
                <span class="value">Hacettepe Üniversitesi, Geomatik Mühendisliği</span>
                <div class="clear"></div>
            </li>
			   
            <li>
                <i class="glyphicon glyphicon-envelope"></i>
                <label>Email</label>
                <span class="value">gokcebugce@gmail.com</span>
                <div class="clear"></div>
            </li>
        </ul> 
    </div>
    <!-- End left-wrap -->
	
    <div class="col-md-6 profile-r">
        <div class="cycle-slideshow">
            <img src="images/img-profile/geomatics-2.jpg" alt="" />
	    <img src="images/img-profile/indir.jpg" alt="" />
	    <img src="images/img-profile/geomatics-1.jpg" alt="" />
	    <img src="images/img-profile/download.jpg" alt="" />
	    <img src="images/img-profile/dunya.jpg" alt="" />
        </div>
    </div>
</div>

<!-- service 2 -->
<div class="clear"></div>
<div class="border-list"></div>

<div class="row">
<div class="col-md-12">
    <div class="bottom-p">
        <div class="title_content">
            <div class="text_content">Sayfama Hoşgeldiniz</div>
            <div class="clear"></div>
        </div>

        <div class="panel-group" id="accordion">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" class="collapse_tabs">
                            Merhaba, Ben Buğçe!
                            <i class="glyphicon glyphicon-chevron-up" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> 1997 yılında Ankara'da doğdum. İlköğretim ve lise eğitimimi Ankara'da tamamladım. Şu anda <a href="http://geomatik.hacettepe.edu.tr/" target="_blank"> Hacettepe Üniversitesi, Geomatik Mühendisliği Bölümü</a>nde eğitim almaktayım.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="collapse_tabs">
                            Sitemde Neleri Bulabilirsiniz?
                            <i class="glyphicon glyphicon-chevron-down" style="float: right;font-size: 13px;"></i>
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <i class="fa fa-quote-left"></i> Özgeçmişimi, eğitimimi, deneyimlerimi, katıldığım konferans/sempozyumları, aldığım sertifika ve belgelerimi görebilirsiniz. Hobilerim hakkında bilgi bulabilirsiniz. Ayrıca bana ulaşmak için email adresime mail gönderebilirsiniz.
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>
<!-- end service 2 -->
	

<div class="clear"></div>
</div>
<!-- End .profile -->
